body{
    text-align: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #222;
    display: grid;
    grid-row-gap: 100px;
}
.basket-product{
    display: grid;
    grid-template: 1fr/repeat(3,1fr);
}
.basket-product{
    display: grid;
    grid-template: 1fr/1fr;
    justify-items: center;
    grid-row-gap: 18px;
}
.basket-product span{
    font-size: 1.3em;
    color: darkred;
}
.basket-product h3{
    margin: 0;
}
.basket-product button{
    color: #fff;
    background-color: deepskyblue;
    border-radius: 4px;
    border: none;
    padding: 10px 30px;
    font-size: 1.3em;
    transition-duration: 400ms;
    box-shadow: 2px 2px 5px #e1e1e1;
}
.basket-product button:hover{
    transform: translateY(-4px);
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
}
.basket-product button:active{
    transform: translateY(-2px);
}
.basket-product button:focus{
    outline: none;
}
.basket{
    display: grid;
    grid-template: repeat(2,1fr)/500px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    transition-duration: 1s;
}
.basket-products{
    display: grid;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;
    grid-template: 1fr/repeat(3,1fr);
    transition-duration: 400ms;
}

.basket-products img{
    width: 100px;
}
.basket-products h3{
    margin: 0;
}
